# Compiled JavaScript files and source maps
/dist
/build
/out
/*.js.map
/*.d.ts.map

# Node.js dependencies
/node_modules
/.npm
/.eslintcache

# TypeScript cache
/.tsbuildinfo
/typings

# IDE and OS files (examples)
.vscode/
.idea/
.DS_Store
*.suo
*.user
*.config.user
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env